*{
  all: unset;
}

.top-window{
  font-family: "Monocraft";
  color: #00ffff;
  font-size: 20;
}

.workspaces{
  font-family: "Monocraft";
  font-size: 20;
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px #ff3683;
}

.mainMenu{
  background-color: rgba(255, 105, 180, 0.7);
  border-radius: 2%;
  border-color: magenta;
  border-width: 1px;
  border-style: solid;
  font-family: "Monocraft";
  padding: 5px 5px 5px 5px;
}

.mainMenu label{
  text-shadow: 2px 2px #ff3683;
}

.ramDisk{
  padding-right: 5px;
}

.ramDisk label{
  padding-left: 10px;
  font-size: 20px;
}

.ramDisk trough{
  color: black;
  background-color: white;
  border-radius: 10px;
  min-width: 420px;
  min-height: 10px;
  margin-left: 8px;
}

.ramDisk highlight{
  background-color: lime;
  border-radius: 10px;
  min-width: 0px;
  min-height: 10px;
}

.profilePic{
  background-image: url('/home/pruck/Pictures/catPink.jpg');
  margin-left: 5px;
  margin-right: 5px;
  background-size: cover;
  border-radius: 50%;
  border-color: pink;
  border-style: solid;
  border-width: 3px;;
}

.lol1 label{
  font-size: 25px;
  margin-top: 8px;
  margin-left: 20px;
}

.lol1 calendar{
  font-family: "JetBrains Mono";
  font-size: 25px;
  background-color: pink;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
}

.lol1 calendar:selected{
  color: blue;
}

.lol1 calendar.header{
  color: magenta;
  min-width: 50px
}

.lol1 calendar.highlight{
  color: red;
}

.lol1 calendar.button{
  color: red;
}

.lol1 calendar.button:hover{
  color: green;
}

.lol1 calendar:indeterminate{
  color: grey;
}

.lol1{
  font-size: 25;
}

.archLogo{
  font-size: 21;
  padding-left: 3;
  padding-top: 1.9;
  color: #ffb5f6;
  text-shadow: 0px 0px #bffffe;
}

.workspacesWiki{
  padding-left: 5;
}

.workspace-entry-current-occupied{
  background-color: pink;
  border-radius: 20%;
}

.workspace-entry-current-empty{
  background-color: pink;
  border-radius: 20%;
}

.workspace-entry--empty{
  color: white;
}

.workspace-entry--occupied{
  color: #d9001d;
}

.archMenu{
  font-family: "Monocraft";
  font-size: 20;
}

.powerMenu{
  font-family: "Monocraft";
  font-size: 20;
}


.sound{
  background-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-color: pink;
  border-width: 2px;
  padding-left: 12px;
}

.sound label{
  font-family: "Monocraft";
}

.soundText{
  font-size: 20px;
}

.volumeLogo{
  font-size: 20px;
  margin-right: 2px;
  color:pink;
}

.brightnessLogo{
  color: pink;
  font-size: 17px;
}

.sound highlight{
  background-color: pink;
  border-radius: 10px;
  min-width: 0px;
  min-height: 10px;
}

.sound value{
  padding-left: 3px;
  font-family: "Monocraft";
  color: white;
}

.sound trough{
  color: black;
  background-color: white;
  border-radius: 10px;
  min-width: 50px;
  min-height: 10px;
  margin-left: 20px;
}

.sound slider{
  background-color: white;
  border-radius: 50%;
  min-width: 15px;
  min-height: 15px;
  margin-top: -10px;
  margin-bottom: -10px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

.event1{
  background-color: green;

}

.appListBox{
  border-style: solid;
  border-color: pink;
  border-width: 2px;
}

.appEventBox{
  color: white;  
  background-color: rgba(0,0,0,0.5);
  border-color: pink;
  border-style: solid;
  border-bottom-width: 2px;
}

.appEventBoxLast{
  color: white;  
  background-color: rgba(0,0,0,0.5);
  border-color: pink;
  border-style: solid;
}

.appBox{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.appEventBox:hover{
  background-color: #ff0097;
}

.appEventBoxLast:hover{
  background-color: #ff0097;
}

.appBoxLast{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.tools{
  padding-right: 20px;
}

.powerListBox{
  border-style: solid;
  border-color: pink;
  border-width: 2px;
}

.powerBox{
  color: white;  
  background-color: rgba(0,0,0,0.5);
  border-color: pink;
  border-style: solid;
  border-top-width: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.powerBox:hover{
  background-color: #ff0097;
}

.powerBoxFirst{
  color: white;  
  background-color: rgba(0,0,0,0.5);
  border-color: white;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
}

.powerBoxFirst:hover{
  background-color: #ff0097;
}
